
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>刘承东短链接2（d1.mk）</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.min.css" />
<script src="https://cdn.staticfile.org/vue/2.7.4/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.27.2/axios.min.js"></script>
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script src="https://nf.vercel.app/js/vue-clipboard.min.js"></script>
<link rel="stylesheet" href="https://nf.vercel.app/css/myurl.css" type="text/css" media="all" />
</head>
<body>
<section class="canvas-wrap">
<div id="canvas" class="gradient"></div>
</section>
<div id="app">
<el-container>
<div :class="[isPc ? 'common body-pc' : 'common body-mb']">
<el-header><span @click="goSY"><el-avatar :size="150" :src="avatar"></el-avatar></span
            ></el-header>
<el-main>
<img width="300" src="" />
<el-input ref="long" v-model="longUrl" size="medium" @keyup.enter.native="enterToDoShort">
<el-button slot="append" icon="el-icon-magic-stick" @click="doShort" :loading="loading"></el-button>
</el-input>
<el-input ref="shortUrl" @dblclick.native="changeDisableStatus" class="copy-content" v-model="shortUrl" size="medium">
<el-button slot="append" v-clipboard:copy="shortUrl" v-clipboard:success="onCopy" ref="copy-btn" icon="el-icon-document-copy"></el-button>
</el-input>
</el-main>
</div>
</el-container>
</div>
<script src="https://sub.v1.mk/js/three.min.js"></script>
<script src="https://sub.v1.mk/js/projector.js"></script>
<script src="https://sub.v1.mk/js/canvas-renderer.js"></script>
<script src="https://sub.v1.mk/js/3d-lines-animation.js"></script>
<script src="https://sub.v1.mk/js/jquery.min.js" type="text/javascript"></script>
<script src="https://sub.v1.mk/js/color.js"></script>
<script src="https://sub.v1.mk/js/djtx.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    const sy = "";
    const jc =
        "";
    const backend = "https://d1.mk";

    let app = new Vue({
        el: "#app",
        data() {
            return {
                isPc: true,
                avatar:
                    "https://img1.baidu.com/it/u=2310221565,3827818779&fm=253&fmt=auto&app=120&f=PNG?w=300&h=300",
                loading: false,
                longUrl: "",
                shortUrl: "",
            };
        },
        created() {
            const os = this.getOS();
            if (os.isPc !== true) {
                this.isPc = false;
            }
        },
        mounted() {
            this.$refs.long.focus();
            this.noTice();
        },
        methods: {
            noTice() {
                const h = this.$createElement;
                this.$message({
                    showClose: true,
                    center: true,
                    message: h("p", null, [
                        h("span", null, "点击 "),
                        h("span", {style: "color: red"}, "刘承东短链接"),
                        h("span", null, " 即可查看使用教程"),
                    ]),
                });
            },
            enterToDoShort(ev) {
                ev.keyCode === 13 && this.doShort();
            },
            doShort() {
                let re = new RegExp("http(s*)://[^\s]*");
                if (re.exec(this.longUrl) === null) {
                    this.$message.warning("请输入正确格式的长链接");
                    return;
                }

                this.loading = true;

                let data = new FormData();
                data.append("longUrl", btoa(this.longUrl));
                data.append(
                    "shortKey",
                    this.shortUrl.indexOf("http") < 0 ? this.shortUrl : ""
                );
                axios
                    .post(backend + "/short", data, {
                        header: {
                            "Content-Type": "application/form-data; charset=utf-8",
                        },
                    })
                    .then(res => {
                        if (res.data.Code === 1 && res.data.ShortUrl !== "") {
                            this.shortUrl = res.data.ShortUrl;
                            this.$copyText(this.shortUrl);
                            this.$refs.shortUrl.disabled = true;
                            this.$message.success("短链接已复制到剪贴板");
                        } else {
                            this.$message.error("短链接获取失败：" + res.data.Message);
                        }
                    })
                    .catch(() => {
                        this.$message.error("短链接获取失败");
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            },
            goSY() {
                window.open(sy);
            },
            goJC() {
                window.open(jc);
            },
            getOS() {
                let ua = navigator.userAgent,
                    isWindowsPhone = /(?:Windows Phone)/.test(ua),
                    isSymbian = /(?:SymbianOS)/.test(ua) || isWindowsPhone,
                    isAndroid = /(?:Android)/.test(ua),
                    isFireFox = /(?:Firefox)/.test(ua),
                    isChrome = /(?:Chrome|CriOS)/.test(ua),
                    isTablet =
                        /(?:iPad|PlayBook)/.test(ua) ||
                        (isAndroid && !/(?:Mobile)/.test(ua)) ||
                        (isFireFox && /(?:Tablet)/.test(ua)),
                    isPhone = /(?:iPhone)/.test(ua) && !isTablet,
                    isPc = !isPhone && !isAndroid && !isSymbian;

                return {
                    isTablet: isTablet,
                    isPhone: isPhone,
                    isAndroid: isAndroid,
                    isPc: isPc,
                };
            },
            getBodyClass() {
                return this.isPc ? "body-center body-width-pc" : "body-center";
            },
            onCopy() {
                this.$message.success("Copied!");
            },
            changeDisableStatus(event) {
                this.$refs.shortUrl.disabled = false;
            },
        },
    });
</script>
<style>
    .common {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .body-mb {
        top: 40vh;
        width: 90%;
    }

    .body-pc {
        top: 40vh;
        width: 40%;
    }

    .el-header {
        margin-bottom: 100px;
    }

    .el-input {
        margin-top: 20px;
    }
</style>
</body>
</html>
